        <!-------DOWNLOAD RESUME BUTTON???-->
        <!-- <div class='text-center md:text-left text-xl font-serif font-light text-gray self-end'>
          <i class="fas fa-arrow-circle-down fa-2x mr-2"></i><span class='text-2xl'>Download My Resume</span>
        </div> -->
        <!----------------------------------------------->
        <!--OPTIONAL LINK BUTTONS: ADD LATER?-->
        <!-- <div class=' my-4 md:mt-2 md:mb-0 ml-0 md:-ml-4 text-center'>
          <span>
            <a href='https://www.linkedin.com/in/alexander-shold/' target="_blank">
              <i class="fab fa-linkedin fa-3x mx-8 md:ml-0 text-gray-dark hover:filter-dark"></i>
            </a>
            <a href=''>
              <i class="fab fa-github fa-3x mx-8 text-gray-dark hover:filter-dark"></i>
            </a>
            <a>
              <i class="fas fa-file-alt fa-3x mx-8 text-gray-dark hover:filter-dark"></i>
            </a>
          </span>
        </div> -->
        <!--END OPTIONAL BUTTON SECTION-->