---
import Projects from '../components/Projects.svelte';
import Skills from '../components/Skills.svelte';
import Header from '../components/Header.svelte';
import Contact from '../components/Contact.svelte';
import Testimonial from '../components/Testimonial.svelte';
import About from '../components/About.svelte';
import Head from '../components/Head.svelte';

let title = 'Alexander Shold';
---
<html lang="en">
<Head title={title} />
<body class='antialiased bg-blue-light font-sans font-medium'>
  <Header />
  <div name='main' class='p-6 grid lg:grid-cols-3 gap-6'>
    <div name='primary-section' class='lg:col-start-1 lg:col-end-3 flex-col items-start'>
      <About />
      <Projects />
    </div>
    <div name='secondary-section' class='lg:col-start-3 flex-col items-start'>
      <Contact />
      <Skills />
      <Testimonial />
    </div>
  </div>
</body>
</html>
